*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%; /* 1rem = 10px */
    scroll-behavior: smooth;
}
body{
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 100;
    --header1: calc(2rem + 1vw);
    --header2: calc(3.2rem + 1vw);
    --header3: calc(3rem + 1vw);
    --header4: calc(2.4rem + 1vw);
    --small-text: calc(1rem + 1vw);
    --big-text: calc(2.4rem + 1vw);
    --special-color: #906272;
    --background-color: #414141;
    --gray-text: #525252;
}
h1{
    font-size: var(--header1);
}
h2{
    font-size: var(--header2);
}
h3{
    font-size: var(--header3);
}
h4, h5{
    font-size: var(--header4);
}
p{
    font-size: var(--small-text)
}
a{
    text-decoration: none;
    color: black;
    font-size: 2.4rem;
}

/* Header Section */
.header-section{
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.1);
}
nav{
    min-height: 10vh;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
}
#logo{
    font-family: 'Great Vibes', cursive;
    font-size: var(--header1);
    flex: 2 1 40rem;
}
nav ul{
    list-style: none;
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
}


/* Hero section */
.hero-section{
    min-height: 90vh;
    width: 95%;
    margin-left: auto;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
}
.hero-content{
    flex: 2 1 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-gallery{
    flex: 1 1 40rem;
    background: linear-gradient(#c8c5c9, #dad1d4);
    position: relative;
    z-index: -1;
}
.hero-content p{
    padding: 5rem 5rem;
    color: var(--gray-text);
}
.hero-content button{
    border: 0.2rem solid black;
    background-color: white;
    padding: 2rem 8rem;
    cursor: pointer;
    font-size: var(--small-text);
    color: var(--gray-text);
}
.elena-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.plants{
    position: absolute;
    max-height: 70%;
    z-index: -2;
    animation: plantsEnter 2s ease-in-out, plantsAnimation 2s ease-in-out alternate-reverse 3s infinite;
    transform-origin: bottom;
}
.plant1{
    bottom: 0;
    left: -20%;
}
.plant2{
    bottom: 0;
    left: 40%;
}

@keyframes plantsEnter {
    from{
        opacity: 0.5;
        transform: translate(0%, -2%) rotateZ(10deg) rotateX(90deg);
    }
    to{
        opacity: 1;
        transform: translate(0, 0%) rotateZ(0deg) rotateX(0deg);
    }
    
}
@keyframes plantsAnimation {
    from{
        transform: rotateZ(5deg)
    }
    to{
        transform: rotateZ(0deg)
    }
    
}

.burger{
    display: none;
}



/* About section */
.about-section{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.about-gallery{
    height: 100vh;
    flex: 1 1 40rem;
    position: relative;
    z-index: -1;
}
.about-gallery img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.about-gallery h2{
    margin-top: 2rem;
    font-weight: 600;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    color: white;
    letter-spacing: 1.5rem;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
}
.about-content{
    height: 100vh;
    flex: 2 1 40rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--background-color);
}
.about-content h2{
    font-family: 'Great Vibes', cursive;
    font-weight: 100;
    color: white;
    margin-top: 2rem;
    text-align: center;
}
.about-content h4{
    color: white;
    width: 90%;
    margin: 2rem auto;
}
.about-content p{
    color: white;
    width: 90%;
    margin: 3rem auto;
    font-size: var(--small-text);
}



/* Gallery Section */
.gallery-section{
    position: relative;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    z-index: -1;
} 
.gallery-section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery1{
    grid-column: 1/3;
}
.gallery2{
    grid-column: 3/4;
    grid-row: 1/3;
}
.gallery-section header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(32, 32, 32, 0.671);
    padding: 1rem;
    text-align: center;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



/* Contact Section */
.contact-section{
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    z-index: -1;
}
.contact-form{
    flex: 2 1 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 15rem;
}
.contact-form h3{
    font-size: 6rem;
}
.contact-form h3 span:nth-child(3){
    color: var(--special-color);
    text-decoration: underline;
    font-size: 8rem;
}
.contact-form label{
    display: block;
    margin-top: 2rem;
    font-size: var(--small-text);
}
.contact-form input{
    display: block;
    padding: 0.8rem 2rem;
    border: none;
    background-color: var(--background-color);
    color: white;

}
.contact-form button{
    margin: 2rem 0;
    padding: 1rem 4rem;
    background-color: var(--special-color);
    color: white;
    border: none;
    cursor: pointer;
}
.contact-image{
    flex: 1 1 40rem;
}
.contact-image img{
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

footer{
    min-height: 10vh;
    background-color: var(--background-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
footer p{
    flex: 2 1 40rem;
    color: white;
    margin-left: 5%;
}
footer ul{
    flex: 1 1 40rem;
    display: flex;
    justify-content: space-evenly;
}
footer ul li{
    list-style: none;
}
.fab{
    transition: 0.5s;
    color: white;
}
.fa-instagram:hover{
    color: #e1306c;
    font-size: 3rem;
    transform: rotate(360deg);
}
.fa-twitter:hover{
    color: #405de6;
    font-size: 3rem;
    transform: rotate(360deg);
}
.fa-youtube:hover{
    color: red;
    font-size: 3rem;
    transform: rotate(360deg);
}
/* 
    1st- show burger menu icon
    2nd- show burger menu bar
    3rd- animate burger menu bar
 */
@media screen and (max-width: 841px) {
    .burger{
        position: relative;
        display: block;
    }
    nav ul{
        background-color: var(--background-color);
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 100%;
        flex-direction: column;
        align-items: center;
        transition: transform 0.5s ease-in;
    }
    nav ul a{
        font-size: var(--header1);
        color: white;
        text-decoration: underline;
    }
    
    .burger span{
        background-color: var(--gray-text);
        padding: 0.2rem 1.5rem;
        margin: 0.5rem;
        display: block;
        transition: transform 0.5s ease-in;
    }
    .nav-open{
        transform: translate(-100%);
    }
    .toggle .line1{
        transform: rotateZ(45deg) translateY(320%);
        background-color: white;
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotateZ(-45deg) translateY(-320%);
        background-color: white;
    }

    .hero-section{
        width: 100%;
    }
    .hero-content{
        margin-bottom: 2rem;
    }

    .gallery-section img{
        grid-row: auto;
        grid-column: auto;
    }
    .gallery-section{
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }
    .gallery-section header{
        display: none;
    }
    .contact-form{
        flex: 2 1 50rem;
        margin-left: 5%;
    }
    .contact-image{
        visibility: hidden;
    }
    footer p{
        text-align: center;
        flex: 2 1 50rem;
    }
    footer ul{
        flex: 1 1 50rem;
    }
}
